@import './variables.css';
@import './classes.css';

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--black-color);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container .cover-image {
	width: auto;
	height: 100vh;
}

.boton-home {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 4%;
	right: 2%;
}

.boton-atras {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 85%;
	left: 11.8%;
}

.boton-next {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 85%;
	right: 2%;
	z-index: 1000;
}

.boton-info {
	position: absolute;
	width: 14%;
    height: 10%;
    top: 27%;
    right: 8%;
	z-index: 1000;
}

.mapa-1 {
	position: absolute;
    width: 7.5%;
    left: 39.1%;
    top: 35%;
    cursor: pointer;
    height: 14%;
	opacity: 0;
}

.mapa1 {
	position: absolute;
	width: 17.5%;
	left: 38.1%;
	top: 30%;
	cursor: pointer;
}

.mapa1 img {
	width: 100%;
	height: 100%;
}

.mapa2 {
	position: absolute;
	width: 15.5%;
	left: 55.6%;
	top: 60%;
	cursor: pointer;
}

.mapa2 img {
	width: 100%;
	height: 100%;
}

.mapa3 {
	position: absolute;
	width: 17.5%;
	left: 50.6%;
	top: 59.3%;
	cursor: pointer;
}

.mapa3 img {
	width: 100%;
	height: 100%;
}

.mapa4 {
	position: absolute;
	width: 14.8%;
	left: 49.6%;
	top: 51.8%;
	cursor: pointer;
}

.mapa4 img {
	width: 100%;
	height: 100%;
}

.mapa5 {
	position: absolute;
	width: 14.8%;
	left: 41.5%;
	top: 45.2%;
	cursor: pointer;
}

.mapa5 img {
	width: 100%;
	height: 100%;
}

.mapa6 {
	position: absolute;
	width: 12.8%;
	left: 51.8%;
	top: 62.3%;
	cursor: pointer;
}

.mapa6 img {
	width: 100%;
	height: 100%;
}

.mapa7 {
	position: absolute;
	width: 20.4%;
	left: 28.3%;
	top: 31.7%;
	cursor: pointer;
}

.mapa7 img {
	width: 100%;
	height: 100%;
}

.mapa8 {
	position: absolute;
	width: 15.5%;
    left: 53.3%;
    top: 62.2%;
	cursor: pointer;
}

.mapa8 img {
	width: 100%;
	height: 100%;
}

.mapa9 {
	position: absolute;
    width: 14.9%;
    left: 48.2%;
    top: 53.8%;
    cursor: pointer;
}

.mapa9 img {
	width: 100%;
	height: 100%;
}

.mapa10 {
	position: absolute;
	width: 15.6%;
    left: 67.5%;
    top: 54.8%;
    cursor: pointer;
}

.mapa10 img {
	width: 100%;
	height: 100%;
}

.mapa11 {
	position: absolute;
	width: 15%;
    left: 56%;
    top: 68.1%;
    cursor: pointer;
}

.mapa11 img {
	width: 100%;
	height: 100%;
}

.mapa12 {
	position: absolute;
	width: 15.7%;
    left: 46.3%;
    top: 46.1%;
    cursor: pointer;
}

.mapa12 img {
	width: 100%;
	height: 100%;
}

.mapa13 {
	position: absolute;
	width: 15.6%;
    left: 50.3%;
    top: 40.7%;
    cursor: pointer;
}

.mapa13 img {
	width: 100%;
	height: 100%;
}

.mapa14 {
	position: absolute;
	width: 15.3%;
    left: 46.5%;
    top: 33.2%;
    cursor: pointer;
}

.mapa14 img {
	width: 100%;
	height: 100%;
}

.mapa15 {
	position: absolute;
	width: 15.7%;
    left: 61.6%;
    top: 64.2%;
    cursor: pointer;
}

.mapa15 img {
	width: 100%;
	height: 100%;
}

.mapa16 {
	position: absolute;
	width: 14.8%;
    left: 53.3%;
    top: 43%;
    cursor: pointer;
}

.mapa16 img {
	width: 100%;
	height: 100%;
}

.mapa17 {
	position: absolute;
	width: 14.9%;
    top: 60.5%;
    left: 47%;
    cursor: pointer;
}

.mapa17 img {
	width: 100%;
	height: 100%;
}

.mapa18 {
	position: absolute;
	width: 14.9%;
    top: 57.9%;
    left: 52%;
    cursor: pointer;
}

.mapa18 img {
	width: 100%;
	height: 100%;
}

.mapa19 {
	position: absolute;
	width: 14.9%;
    top: 59.9%;
    left: 53%;
    cursor: pointer;
}

.mapa19 img {
	width: 100%;
	height: 100%;
}

.mapa20 {
	position: absolute;
	width: 14.9%;
    top: 40.7%;
    left: 37%;
    cursor: pointer;
}

.mapa20 img {
	width: 100%;
	height: 100%;
}

.mapa21 {
	position: absolute;
	width: 14.9%;
	top: 56.7%;
    left: 43.6%;
    cursor: pointer;
}

.mapa21 img {
	width: 100%;
	height: 100%;
}

.mapa22 {
	position: absolute;
	width: 15%;
    top: 60.8%;
    left: 66%;
    cursor: pointer;
}

.mapa22 img {
	width: 100%;
	height: 100%;
}

.mapa23 {
	position: absolute;
	width: 15%;
	top: 66.6%;
    left: 62.4%;
    cursor: pointer;
}

.mapa23 img {
	width: 100%;
	height: 100%;
}

.mapa24 {
	position: absolute;
	width: 18.1%;
    top: 31.1%;
    left: 24.8%;
    cursor: pointer;
}

.mapa24 img {
	width: 100%;
	height: 100%;
}

.mapa25 {
	position: absolute;
    width: 17.1%;
    top: 59.3%;
    left: 33.5%;
    cursor: pointer;
}

.mapa25 img {
	width: 100%;
	height: 100%;
}

.mapa26 {
	position: absolute;
	width: 15.8%;
    top: 61.9%;
    left: 33.2%;
    cursor: pointer;
}

.mapa26 img {
	width: 100%;
	height: 100%;
}

.mapa27 {
	position: absolute;
	width: 15.8%;
    top: 60.5%;
    left: 41.6%;
    cursor: pointer;
}

.mapa27 img {
	width: 100%;
	height: 100%;
}

.mapa28 {
	position: absolute;
	width: 15.4%;
    top: 64.4%;
    left: 42.3%;
    cursor: pointer;
}

.mapa28 img {
	width: 100%;
	height: 100%;
}

.mapa29 {
	position: absolute;
	width: 15.4%;
    top: 54.4%;
    left: 42.3%;
    cursor: pointer;
}

.mapa29 img {
	width: 100%;
	height: 100%;
}

.mapa30 {
	position: absolute;
	width: 15.4%;
    top: 46.3%;
    left: 22.3%;
    cursor: pointer;
}

.mapa30 img {
	width: 100%;
	height: 100%;
}

.mapa31 {
	position: absolute;
	width: 14.4%;
    top: 52.3%;
    left: 38.3%;
    cursor: pointer;
}

.mapa31 img {
	width: 100%;
	height: 100%;
}
.mapa32 {
	position: absolute;
	width: 14.8%;
    top: 61.6%;
    left: 70%;
    cursor: pointer;
}

.mapa32 img {
	width: 100%;
	height: 100%;
}

/* Responsive */
@media (max-width: 1366px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: auto;
		height: 100vh;
	}
}

@media (min-height: 625px) and (max-height: 767px) {
	.container {
		width: auto;
		height: 100vh;
	}
}

@media (min-height: 625px) and (max-height: 1280px) and (max-width: 1024px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}
}
