@import './variables.css';
@import './classes.css';

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--black-color);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container .cover-image {
	width: auto;
	height: 100vh;
}

.boton-home {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 4%;
	right: 2%;
}

.boton-atras {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 85%;
	left: 4%;
}

.boton-next {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 85%;
	right: 2%;
}

/* video */
.reproduc {
	z-index: 1;
	position: absolute;
	top: 14.8%;
    left: 19%;
    width: 63.6%;
    height: 75.5%;
	background: black;
	border-radius: 5%;
	display: none;
}

.video-2 {
	position: absolute;
	width: 63.7%;
	height: 70%;
	top: 15%;
	left: 19%;
	cursor: pointer;
}

.play-boton {
	position: absolute;
    width: 63.6%;
    height: 75.8%;
    top: 14.7%;
    left: 19%;
    border-radius: 5%;
	z-index: 1;
}

/* Responsive */
@media (max-width: 1365px) and (min-height: 768px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: auto;
		height: 100vh;
	}
}

@media (max-height: 767px) {
	.container {
		width: auto;
		height: 100vh;
	}
}

@media (min-height: 625px) and (max-height: 1280px) and (max-width: 1024px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}
}
